 .footer {
    background-color: black;
    color: chocolate;
    padding: 60px 10px 0 10px;
}

.line {
    height: 1px;
    background-color: chocolate;
    margin: 0 40px;
    box-sizing: border-box;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.footer__brand {
    flex: 1;
    margin: 10px;
    text-align: center;
}

.footer__delivery {
    min-width: 200px;
    height: 100%;
    margin: 10px 0 0 0;
    text-align: left;
}

.footer__complaint {
    margin-top: 15px;
    font-size: 14px;
}

.footer__delivery a {
    color: chocolate;
}

.delivery__name {
    margin-top: 15px;
    font-size: 14px;
}

@media (max-width: 998px) {
    .footer__info {
        margin: 0 10px;
    }
}

@media (max-width: 768px) {
    .footer {
        font-size: 14px;
        margin: 0 10px;
    }
    .line {
        margin: 0 12px;
    }
    .footer__brand {
        margin: 5px;
    }
}

@media (max-width: 670px) {
    .footer__info {
        flex-direction: row;
        justify-content: right;
        font-size: 11px;
    }
    .footer__brand {
        margin-bottom: 0;
    }
}

@media (max-width: 575px) {
    .footer__brand {
        margin: 10px 0;
        width: auto;
    }
}

@media (max-width: 425px) {
    .footer__info {
        display: flex;
        flex-direction: column;
    }

}

.footer__brand a {
    color: chocolate;
}

.delivery__title {
    font-size: 14px;
    margin-top: 10px;
}

.divider-container {
    margin-top: 5px;
}

.work__footer {
    font-family: Arial, sans-serif;
    margin: 20px 0;
}
