.footer {
    background-color: black;
    height: 100%;
    color: chocolate;
    padding: 60px 10px 0 10px;
}
@media (max-width: 768px) {
    .footer {
        font-size: 14px;
        margin: 0 10px;
   }
}
.line {
    height: 1px;
    background-color: chocolate;
    margin: 0 40px;
    box-sizing: border-box;
}
.footer__info {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.footer__brand {
    flex: 1;
    margin: 10px;
    text-align: center;
}
#time {
    max-width: 250px;
}
@media (max-width: 998px) {
    .footer__info {
        margin: 0 10px;
   }
}
@media (max-width: 768px) {
    .footer__info {
        font-size: 14px;
        margin: 0;
   }
    .line {
        margin: 0 12px;
   }
    .footer__brand {
        margin: 5px;
   }
}
@media (max-width: 670px) {
    .footer__info {
        flex-direction: row;
        justify-content: right;
        font-size: 11px;
   }
    .footer__brand {
        margin-bottom: 0;
   }
}
@media (max-width: 575px) {
    .footer__brand {
        margin: 10px 0;
        width: auto;
   }
}
@media (max-width: 425px) {
    .footer__info{
        display: flex;
        flex-direction: column;
   }
    .footer__brand{
        margin: 0 auto;
   }
    #time{
        margin: 10px 0 0 -12px;
   }
}
.footer__brand a {
    color: chocolate;
}
.footer__complaint {
    margin-top: 15px;
    font-size: 14px;
}
.footer__delivery {
    width: 200px;
    height: 100%;
    margin: 10px 0 0 0;
    text-align: left;
}
.delivery__title {
    font-size: 14px;
    margin-top: 10px;
}
.divider-container {
    margin-top: 5px;
}
.footer__delivery a {
    color: chocolate;
}
.delivery__name {
    margin-top: 15px;
    font-size: 14px;
}
.footer__contact {
    width: 200px;
    height: 100%;
    margin: 10px;
    line-height: 2;
    text-align: left;
}
.main-title__footer {
    font-size: 14px;
    margin-bottom: -7px;
}
.sub-title__footer {
    font-size: 7px;
}
#modal-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 70px;
}
#deliveryFormFooter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label {
    font-weight: bold;
}
input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn__modal-footer {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}
.btn__modal-footer:hover {
    background-color: #45a049;
}
.modal-title-footer {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}
.work__footer {
    font-family: Arial, sans-serif;
    margin: 20px 0;
}




